In [2]:
pip install keras

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: keras in c:\users\munavar\appdata\roaming\python\python39\site-packages (2.10.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import keras

In [4]:
import datetime
import pandas as pd
import numpy as np

In [5]:
stockcode = 'ADANIENT'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/ADANIENT.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [6]:
stockcode = 'ADANIPORTS'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/ADANIPORTS.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [7]:
stockcode = 'APOLLOHOSP'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/APOLLOHOSP.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [8]:
stockcode = 'ASIANPAINT'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/ASIANPAINT.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [9]:
stockcode = 'AXISBANK'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/AXISBANK.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [10]:
stockcode = 'BAJAJ-AUTO'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/BAJAJ-AUTO.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [11]:
stockcode = 'BAJFINANCE'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/BAJFINANCE.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [12]:
stockcode = 'BAJAJFINSV'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/BAJAJFINSV.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [13]:
stockcode = 'BPCL'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/BPCL.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [14]:
stockcode = 'BHARTIARTL'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/BHARTIARTL.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [15]:
stockcode = 'BRITANNIA'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/BRITANNIA.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [16]:
stockcode = 'CIPLA'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/CIPLA.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [17]:
stockcode = 'COALINDIA'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/COALINDIA.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [18]:
stockcode = 'DIVISLAB'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/DIVISLAB.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [19]:
stockcode = 'DRREDDY'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/DRREDDY.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [20]:
stockcode = 'EICHERMOT'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/EICHERMOT.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [21]:
stockcode = 'GRASIM'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/GRASIM.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [22]:
stockcode = 'HCLTECH'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/HCLTECH.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [23]:
stockcode = 'HDFCBANK'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/HDFCBANK.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [24]:
stockcode = 'HDFCLIFE'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/HDFCLIFE.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [25]:
stockcode = 'HEROMOTOCO'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/HEROMOTOCO.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [26]:
stockcode = 'HINDALCO'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/HINDALCO.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [27]:
stockcode = 'HINDUNILVR'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/HINDUNILVR.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [28]:
stockcode = 'HDFC'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/HDFC.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [29]:
stockcode = 'ICICIBANK'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/ICICIBANK.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [30]:
stockcode = 'ITC'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/ITC.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [31]:
stockcode = 'INDUSINDBK'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/INDUSINDBK.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [32]:
stockcode = 'INFY'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/INFY.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [33]:
stockcode = 'JSWSTEEL'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/JSWSTEEL.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [34]:
stockcode = 'KOTAKBANK'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/KOTAKBANK.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [35]:
stockcode = 'LT'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/LT.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [36]:
stockcode = 'M&M'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/M&M.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [37]:
stockcode = 'MARUTI'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/MARUTI.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [38]:
stockcode = 'NTPC'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/NTPC.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [39]:
stockcode = 'NESTLEIND'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/NESTLEIND.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [40]:
stockcode = 'ONGC'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/ONGC.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [41]:
stockcode = 'POWERGRID'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/POWERGRID.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [42]:
stockcode = 'RELIANCE'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/RELIANCE.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [43]:
stockcode = 'SBILIFE'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/SBILIFE.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [44]:
stockcode = 'SBIN'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/SBIN.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [45]:
stockcode = 'SUNPHARMA'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/SUNPHARMA.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [46]:
stockcode = 'TCS'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/TCS.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [47]:
stockcode = 'TATACONSUM'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/TATACONSUM.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [48]:
stockcode = 'TATAMOTORS'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/TATAMOTORS.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [49]:
stockcode = 'TATASTEEL'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/TATASTEEL.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [50]:
stockcode = 'TECHM'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/TECHM.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [51]:
stockcode = 'TITAN'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/TITAN.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [52]:
stockcode = 'UPL'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/UPL.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [53]:
stockcode = 'ULTRACEMCO'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/ULTRACEMCO.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [54]:
stockcode = 'WIPRO'

ts1 = str(int(datetime.datetime(2018, 11, 1).timestamp())) 
ts2 = str(int(datetime.datetime(2022, 11, 2).timestamp()))

interval = '1d'
# interval = '1wk'
#interval = '1mo'

events = 'history'

url = 'https://query1.finance.yahoo.com/v7/finance/download/'\
      + stockcode + '.NS?period1=' + ts1 + '&period2=' + ts2 + '&interval='\
      + interval + '&events=' + events

print(url)
print (ts1, ts2)

https://query1.finance.yahoo.com/v7/finance/download/WIPRO.NS?period1=1541010600&period2=1667327400&interval=1d&events=history
1541010600 1667327400

In [55]:
ADANIENT=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\ADANIENT.NS.csv")
ADANIPORTS=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\ADANIPORTS.NS.csv")
APOLLOHOSP=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\APOLLOHOSP.NS.csv")
ASIANPAINT=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\ASIANPAINT.NS.csv")
AXISBANK=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\AXISBANK.NS.csv")
BAJAJ_AUTO=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\BAJAJ-AUTO.NS.csv")
BAJFINANCE=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\BAJFINANCE.NS.csv")
BAJAJFINSV=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\BAJAJFINSV.NS.csv")
BPCL=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\BPCL.NS.csv")
BHARTIARTL=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\BHARTIARTL.NS.csv")
BRITANNIA=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\BRITANNIA.NS.csv")
CIPLA=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\CIPLA.NS.csv")
COALINDIA=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\COALINDIA.NS.csv")
DIVISLAB=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\DIVISLAB.NS.csv")
DRREDDY=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\DRREDDY.NS.csv")
EICHERMOT=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\EICHERMOT.NS.csv")
GRASIM=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\GRASIM.NS.csv")
HCLTECH=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\HCLTECH.NS.csv")
HDFCBANK=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\HDFCBANK.NS.csv")
HDFCLIFE=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\HDFCLIFE.NS.csv")
HEROMOTOCO=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\HEROMOTOCO.NS.csv")
HINDALCO=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\HINDALCO.NS.csv")
HINDUNILVR=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\HINDUNILVR.NS.csv")
HDFC=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\HDFC.NS.csv")
ICICIBANK=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\ICICIBANK.NS.csv")
ITC=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\ITC.NS.csv")
INDUSINDBK=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\INDUSINDBK.NS.csv")
INFY=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\INFY.NS.csv")
JSWSTEEL=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\JSWSTEEL.NS.csv")
KOTAKBANK=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\KOTAKBANK.NS.csv")
LT=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\LT.NS.csv")
M_M=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\M&M.NS.csv")
MARUTI=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\MARUTI.NS.csv")
NTPC=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\NTPC.NS.csv")
NESTLEIND=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\NESTLEIND.NS.csv")
ONGC=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\ONGC.NS.csv")
POWERGRID=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\POWERGRID.NS.csv")
RELIANCE=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\RELIANCE.NS.csv")
SBILIFE=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\SBILIFE.NS.csv")
SBIN=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\SBIN.NS.csv")
SUNPHARMA=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\SUNPHARMA.NS.csv")
TCS=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\TCS.NS.csv")
TATACONSUM=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\TATACONSUM.NS.csv")
TATAMOTORS=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\TATAMOTORS.NS.csv")
TATASTEEL=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\TATASTEEL.NS.csv")
TECHM=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\TECHM.NS.csv")
TITAN=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\TITAN.NS.csv")
UPL=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\UPL.NS.csv")
ULTRACEMCO=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\ULTRACEMCO.NS.csv")
WIPRO=pd.read_csv(r"E:\Masai Course(Data Anaytics)\Project\ML project\WIPRO.NS.csv")

In [56]:
empty_list = []
for i in range(len(ADANIENT)):
    empty_list.append('ADANIENT') 
ADANIENT.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [57]:
empty_list = []
for i in range(len(ADANIPORTS)):
    empty_list.append('ADANIPORTS') 
ADANIPORTS.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [58]:
empty_list = []
for i in range(len(APOLLOHOSP)):
    empty_list.append('APOLLOHOSP') 
APOLLOHOSP.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [59]:
empty_list = []
for i in range(len(ASIANPAINT)):
    empty_list.append('ASIANPAINT') 
ASIANPAINT.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [60]:
empty_list = []
for i in range(len(AXISBANK)):
    empty_list.append('AXISBANK') 
AXISBANK.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [61]:
empty_list = []
for i in range(len(BAJAJ_AUTO)):
    empty_list.append('BAJAJ_AUTO') 
BAJAJ_AUTO.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [62]:
empty_list = []
for i in range(len(BAJFINANCE)):
    empty_list.append('BAJFINANCE') 
BAJFINANCE.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [63]:
empty_list = []
for i in range(len(BAJAJFINSV)):
    empty_list.append('BAJAJFINSV') 
BAJAJFINSV.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [64]:
empty_list = []
for i in range(len(BPCL)):
    empty_list.append('BPCL') 
BPCL.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [65]:
empty_list = []
for i in range(len(BHARTIARTL)):
    empty_list.append('BHARTIARTL') 
BHARTIARTL.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [66]:
empty_list = []
for i in range(len(BRITANNIA)):
    empty_list.append('BRITANNIA') 
BRITANNIA.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [67]:
empty_list = []
for i in range(len(CIPLA)):
    empty_list.append('CIPLA') 
CIPLA.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [68]:
empty_list = []
for i in range(len(COALINDIA)):
    empty_list.append('COALINDIA') 
COALINDIA.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [69]:
empty_list = []
for i in range(len(DIVISLAB)):
    empty_list.append('DIVISLAB') 
DIVISLAB.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [70]:
empty_list = []
for i in range(len(DRREDDY)):
    empty_list.append('DRREDDY') 
DRREDDY.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [71]:
empty_list = []
for i in range(len(EICHERMOT)):
    empty_list.append('EICHERMOT') 
EICHERMOT.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [72]:
empty_list = []
for i in range(len(GRASIM)):
    empty_list.append('GRASIM') 
GRASIM.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [73]:
empty_list = []
for i in range(len(HCLTECH)):
    empty_list.append('HCLTECH') 
HCLTECH.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [74]:
empty_list = []
for i in range(len(HDFCBANK)):
    empty_list.append('HDFCBANK') 
HDFCBANK.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [75]:
empty_list = []
for i in range(len(HDFCLIFE)):
    empty_list.append('HDFCLIFE') 
HDFCLIFE.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [76]:
empty_list = []
for i in range(len(HEROMOTOCO)):
    empty_list.append('HEROMOTOCO') 
HEROMOTOCO.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [77]:
empty_list = []
for i in range(len(HINDALCO)):
    empty_list.append('HINDALCO') 
HINDALCO.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [78]:
empty_list = []
for i in range(len(HINDUNILVR)):
    empty_list.append('HINDUNILVR') 
HINDUNILVR.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [79]:
empty_list = []
for i in range(len(HDFC)):
    empty_list.append('HDFC') 
HDFC.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [80]:
empty_list = []
for i in range(len(ICICIBANK)):
    empty_list.append('ICICIBANK') 
ICICIBANK.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [81]:
empty_list = []
for i in range(len(ITC)):
    empty_list.append('ITC') 
ITC.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [82]:
empty_list = []
for i in range(len(INDUSINDBK)):
    empty_list.append('INDUSINDBK') 
INDUSINDBK.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [83]:
empty_list = []
for i in range(len(INFY)):
    empty_list.append('INFY') 
INFY.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [84]:
empty_list = []
for i in range(len(JSWSTEEL)):
    empty_list.append('JSWSTEEL') 
JSWSTEEL.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [85]:
empty_list = []
for i in range(len(KOTAKBANK)):
    empty_list.append('KOTAKBANK') 
KOTAKBANK.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [86]:
empty_list = []
for i in range(len(LT)):
    empty_list.append('LT') 
LT.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [87]:
empty_list = []
for i in range(len(M_M)):
    empty_list.append('M&M') 
M_M.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [88]:
empty_list = []
for i in range(len(MARUTI)):
    empty_list.append('MARUTI') 
MARUTI.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [89]:
empty_list = []
for i in range(len(NTPC)):
    empty_list.append('NTPC') 
NTPC.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [90]:
empty_list = []
for i in range(len(NESTLEIND)):
    empty_list.append('NESTLEIND') 
NESTLEIND.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [91]:
empty_list = []
for i in range(len(ONGC)):
    empty_list.append('ONGC') 
ONGC.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [92]:
empty_list = []
for i in range(len(POWERGRID)):
    empty_list.append('POWERGRID') 
POWERGRID.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [93]:
empty_list = []
for i in range(len(RELIANCE)):
    empty_list.append('RELIANCE') 
RELIANCE.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [94]:
empty_list = []
for i in range(len(SBILIFE)):
    empty_list.append('SBILIFE') 
SBILIFE.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [95]:
empty_list = []
for i in range(len(SBIN)):
    empty_list.append('SBIN') 
SBIN.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [96]:
empty_list = []
for i in range(len(SUNPHARMA)):
    empty_list.append('SUNPHARMA') 
SUNPHARMA.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [97]:
empty_list = []
for i in range(len(TCS)):
    empty_list.append('TCS') 
TCS.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [98]:
empty_list = []
for i in range(len(TATACONSUM)):
    empty_list.append('TATACONSUM') 
TATACONSUM.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [99]:
empty_list = []
for i in range(len(TATAMOTORS)):
    empty_list.append('TATAMOTORS') 
TATAMOTORS.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [100]:
empty_list = []
for i in range(len(TATASTEEL)):
    empty_list.append('TATASTEEL') 
TATASTEEL.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [101]:
empty_list = []
for i in range(len(TECHM)):
    empty_list.append('TECHM') 
TECHM.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [102]:
empty_list = []
for i in range(len(TITAN)):
    empty_list.append('TITAN') 
TITAN.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [103]:
empty_list = []
for i in range(len(UPL)):
    empty_list.append('UPL') 
UPL.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [104]:
empty_list = []
for i in range(len(ULTRACEMCO)):
    empty_list.append('ULTRACEMCO') 
ULTRACEMCO.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [105]:
empty_list = []
for i in range(len(WIPRO)):
    empty_list.append('WIPRO') 
WIPRO.insert(loc = 0,
          column = 'Stockname',
          value = empty_list)

In [106]:
## i have combained all csv files 
Stock_data=pd.concat([ADANIENT,ADANIPORTS,APOLLOHOSP,ASIANPAINT,AXISBANK,BAJAJ_AUTO,BAJFINANCE,BAJAJFINSV,BPCL,BHARTIARTL,BRITANNIA,
           CIPLA,COALINDIA,DIVISLAB,DRREDDY,EICHERMOT,GRASIM,HCLTECH,HDFCBANK,HDFCLIFE,HEROMOTOCO,HINDALCO,HINDUNILVR,HDFC,
           ICICIBANK,ITC,INDUSINDBK,INFY,JSWSTEEL,KOTAKBANK,LT,M_M,MARUTI,NTPC,NESTLEIND,ONGC,POWERGRID,RELIANCE,SBILIFE,SBIN,
           SUNPHARMA,TCS,TATACONSUM,TATAMOTORS,TATASTEEL,TECHM,TITAN,UPL,ULTRACEMCO,WIPRO], axis=0)

In [107]:
# Combained Data
Stock_data

,Stockname,Date,Open,High,Low,Close,Adj Close,Volume
0,ADANIENT,2018-11-01,171.050003,178.100006,168.850006,175.000000,173.013641,8041754
1,ADANIENT,2018-11-02,176.600006,179.500000,173.800003,175.600006,173.606827,6839045
2,ADANIENT,2018-11-05,176.100006,176.750000,155.800003,168.500000,166.587402,12668556
3,ADANIENT,2018-11-06,168.250000,169.000000,162.000000,164.449997,162.583374,5834504
4,ADANIENT,2018-11-07,165.000000,169.000000,164.699997,165.750000,163.868622,1138303
...,...,...,...,...,...,...,...,...
983,WIPRO,2022-10-25,386.450012,386.450012,383.649994,384.649994,384.649994,2891628
984,WIPRO,2022-10-27,386.000000,386.950012,381.100006,382.649994,382.649994,5861559
985,WIPRO,2022-10-28,382.799988,385.850006,382.000000,383.250000,383.250000,3804838
986,WIPRO,2022-10-31,386.549988,388.399994,384.750000,386.549988,386.549988,3319191
987,WIPRO,2022-11-01,388.000000,393.000000,386.600006,392.399994,392.399994,5770098

In [108]:
Stock_data.reset_index(drop=True, inplace=True)

In [109]:
# Finalized data of Nifty-50 stocks
Stock_data

,Stockname,Date,Open,High,Low,Close,Adj Close,Volume
0,ADANIENT,2018-11-01,171.050003,178.100006,168.850006,175.000000,173.013641,8041754
1,ADANIENT,2018-11-02,176.600006,179.500000,173.800003,175.600006,173.606827,6839045
2,ADANIENT,2018-11-05,176.100006,176.750000,155.800003,168.500000,166.587402,12668556
3,ADANIENT,2018-11-06,168.250000,169.000000,162.000000,164.449997,162.583374,5834504
4,ADANIENT,2018-11-07,165.000000,169.000000,164.699997,165.750000,163.868622,1138303
...,...,...,...,...,...,...,...,...
49395,WIPRO,2022-10-25,386.450012,386.450012,383.649994,384.649994,384.649994,2891628
49396,WIPRO,2022-10-27,386.000000,386.950012,381.100006,382.649994,382.649994,5861559
49397,WIPRO,2022-10-28,382.799988,385.850006,382.000000,383.250000,383.250000,3804838
49398,WIPRO,2022-10-31,386.549988,388.399994,384.750000,386.549988,386.549988,3319191
49399,WIPRO,2022-11-01,388.000000,393.000000,386.600006,392.399994,392.399994,5770098